@inherits ComponentBase

@if (GroupProduct != null)
{
    <tr class="d-flex justify-content-sm-between align-baseline">
        <td>@GroupProduct.ProductName</td>
        <td>@GroupProduct.Cost.ToString("c2")</td>
        <td>@GroupProduct.AddedQuantity</td>
    </tr>
}


@code {
    [Parameter]
    public GroupProductVM GroupProduct { get; set; } = new GroupProductVM();
}
