@page "/"
@page "/{customerIdp:int}"
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input type="number" @bind="customerIdp" />
<PurchasedProductTableItems 
    customerId="customerId" 
    PurchasedProductDtos="PurchasedProducts">
</PurchasedProductTableItems>

@code{
    [Parameter] public int customerIdp { get; set; } 
    private int customerId { get; set; }
    private IEnumerable<PurchasedProductVM> PurchasedProducts { get; set; } = new List<PurchasedProductVM>();
    protected override async Task OnInitializedAsync()
    {
        customerId = customerIdp;
    }
}

