@page "/"

@using LMSPO.CrossCut.Dtos;
@inject IWebExecuter _IWebExecuter
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />




@code{

    //private CustomerDto? customer { get; set; } = new CustomerDto();
    //protected override async Task OnInitializedAsync()
    //{
    //    customer = await _IWebExecuter.InvokeGetTAsync<CustomerDto>($"Customers/{1}");
    //}
}

